@charset "utf-8";
body,ol,ul,li,h1,h2,h3,h4,h5,h6,a,form,input,img,textarea,select,p,span,th,td,dl,dd,fieldset{margin:0;padding:0}/* 重置样式 */
body{font-family:"微软雅黑";}
ul,ol,li{list-style: none;}
b,strong{font-weight: normal;}
em,i{font-style: normal;}
a,u{text-decoration: none;}
h1,h2,h3,h4,h5,h6{font-size: 16px;font-weight: normal;}
/* 文本聚焦时去掉蓝色边框 */
input{outline: none;}
img{border:0;display:block;}
/*万能清除法*/
.clear_fix:after{content: ".";clear:both;height: 0;overflow: hidden;display: block;visibility: hidden;}
/*低版本IE高度塌陷*/
.clear_fix{zoom:1;}

a{display: block;}