.goods_details{
    width: 1100px;
    margin: 0 auto;
    clear: both;
    .location{
        margin: 20px 10px;
        a{
            display: inline;
            color: #000;
            font-size: 14px;
            margin: 0 10px;
        }
        span{
            font-size: 14px;
            color: rgb(100, 100, 100);
            margin-left: 10px;
        }
    }
    .goods_details_content{
        .goods_details_content_left{
            float: left;
            position: relative;
            margin: 30px 0;
            .box{
                cursor: crosshair;
                position: relative;
                img{
                    width: 400px;
                    height: 400px;
                }
                .zhedang{
                    display: none;
                    width: 200px;
                    height: 200px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: rgba($color: #cfb3b3, $alpha: .5);
                }
            }
            .div_imgs{
                margin: 20px 0;
                img{
                    width: 75px;
                    float: left;
                    margin-right: 5px;
                }
                img:last-of-type{
                    margin-right: 0px;
                }
                .imgborder{
                    border:2px solid red;
                }
            }
            .box_right{
                border: 1px solid red;
                display: none;
                position: absolute;
                z-index: 10;
                width: 400px;
                height: 400px;
                top: 0;
                left: 450px;
                overflow: hidden;
                img{
                    position: absolute;
                    width: 800px;
                    height: 800px;
                }
            }
        }
        .goods_details_content_right{
            margin: 30px;
            float: right;
            width: 600px;
            h2{
                font-size: 18px;
                color: #303030;
                margin: 20px 0;
            }
            b{
                margin-left: 10px;
                font-size: 14px;
                color: #666;
                display: inline-block;
                width: 100px;
                line-height: 30px;
            }
            .jiage{
                padding: 10px 0;
                color: #c41f3a;
                font-size: 18px;
                background-color: #fefafb;
                border-bottom: 1px dashed #f0dde1;
                em{
                    font-size: 40px;
                    color: #df0010;
                }
            }
            .yunfei{
                padding: 15px 0;
                border-bottom: 1px dotted #f0dde1;
                span{
                    font-size: 14px;
                    color: #333;
                }
            }
            .yanse{
                margin: 15px 0;
            }
            .chima{
                margin: 15px 0;
            }
            .jrgwc{
                padding: 8px 15px;
                border-radius: 5px;
                outline: none;
            }
            .xuanzhong{
                display: inline-block;
                border: 2px solid #F11D20;
                position: relative;
                width: 50px;
                height: 25px;
                line-height: 25px;
                font-size: 12px;
                text-align: center;
                span{
                    position: absolute;
                    font-size: 18px;
                    right: -8px;
                    bottom: -8px;
                }
            }
            .two_ewm{
                margin-top: 30px;
                .two_ewm_1,.two_ewm_2{
                    width: 240px;
                    height: 140px;
                    float: left;
                    border-radius: 10px;
                    margin-right: 10px;
                    img{
                        margin: 15px;
                        width: 110px;
                        height: 110px;
                        float: left;
                        border-radius: 5px;
                    }
                    .txt{
                        margin-top: 25px;
                        font-size: 20px;
                        line-height: 30px;
                    }
                }
                .two_ewm_1{
                    background-color: #D91722;
                    .txt{
                        color: #fff;
                    }
                }
                .two_ewm_2{
                    background-color: #EBEBEB;
                }
            }
        }
        .xq{
            clear: both;
            .recommend{
                width: 220px;
                float: left;
                h2{
                    font-size: 16px;
                    line-height: 30px;
                    text-align: center;
                }
                a{
                    background-color: #F6F6F6;
                    padding-top: 10px;
                    img{
                        width: 200px;
                        margin: 10px;
                    }
                    h3{
                        font-size: 14px;
                        line-height: 20px;
                        color: rgb(253, 162, 177);
                        margin: 10px;
                    }
                    h4{
                        font-size: 12px;
                        line-height: 20px;
                        color: red;
                        margin: 10px;
                        margin-bottom: 25px;
                    }
                }
            }
            .spxxxx{
                float: right;
                h2{
                    width: 800px;
                    font-size: 20px;
                    line-height: 30px;
                    margin-left: 10px;
                    color: pink;
                }
            }
            img{
                width: 800px;
            }
        }
    }
}

.jrgwc_box{
    .jrgwc_img{
        position: fixed;
        width: 50px;
        height: 50px;
    }
}
